<div id="<%= dom_id static_page %>">
  <% if action_name != "show" %>
    <%= link_to "Show this static page", static_page, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this static page', edit_static_page_path(static_page), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
